<% include header %>

<main>
    <h1>The UPDATE Operation!</h1>
    <br><p>This page lets you update the movie entries. Simply edit the fields and push update.</p><br>


    <section class="videos">
        <% docs.forEach(function(doc) { %>
            <article class="video-thumb">
                <img src="<%= doc.poster %>" alt="movie-poster">
                <form action="/update" method="POST">
                    <input type="hidden" required value="<%= doc._id %>" name="_id" placeholder="_id">
                    <input type="text" required value="<%= doc.title %>" name="title" placeholder="title">
                    <input type="text" required value="<%= doc.year %>" name="year" placeholder="year">
                    <input type="text" required value="<%= doc.poster %>" name="poster" placeholder="Img URL">
                    <button class="submit">UPDATE</button>
                </form>
            </article>
        <% }) %>

    </section>

</main>



<% include footer %>
